/* 
  Additional Styles
*/
.reveal section .bare {
  background: transparent;
  border: none;
  box-shadow: none;
}
.reveal section img.solo {
  display: block;
}

.reveal section .darken {
  color: #999;
}

.reveal section strong {
  color: #13daec;
}


.reveal section .fragment.disappear {
  display: block;
  opacity: 1;
}

.reveal section .fragment.disappear.visible {
  display: none;
}


.reveal figure {
  margin: 0.5em 0;
}
.reveal figure h5 {
  margin: 0;
}
.reveal figure img {
  margin-bottom: 0;
}
.reveal figcaption {
  font-size: 0.6em;
  line-height: 1em;
  display: block;
}

.reveal section li small {
  margin-left: 1em;
  vertical-align: baseline;
}

.reveal .as-is {
  text-transform: none !important;
}

.reveal .inline {
  display: inline-block;
}

.reveal .timeline {
  display: inline-block;
  padding: 10px;
  border: 5px solid rgba(99,99,99,0.5);
  font-size: 0.6em;
  margin: 0 2px;
}
.reveal .timeline-js {
  background-color: #025b63;
}
.reveal .timeline-browser {
  background-color: #6a0600;
}
.reveal .clear {
  clear: both;
}


/* 
  Structure
*/

.reveal section header {
  margin-bottom: 1.5em;
}


.reveal section footer {
  font-size: 87.5%;
  margin-top: 2em;
}

.reveal section .example {
  margin: 1em 0;
}


/*
  Other
*/
.reveal section .button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #944;
  border: solid 1px rgba(255,255,255,0.2);
  border-radius: 3px;
}

.reveal section .button.alt {
  background-color: #449;
}



.reveal .slides section .fragment.highlight-bold.visible {
  font-weight: bold;
  font-style: italic;
}